<h1>Room Categories</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @room_types.each do |room_type| %>
      <tr>
        <td><%= room_type.name %></td>
        
        <td><%= link_to 'Edit', edit_room_type_path(room_type) %></td>
        <td><%= link_to 'Delete', room_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create Room type', new_room_type_path, class: "btn btn-primary" %>
