<div id="hero" style="display:block;" data-native-currency="USD" class="">
  <ul class="list-unstyled" id="slideshow">
        <li class="next left" data-bg-opacity="1" style="display: block;">
        <%= image_tag("Shampaan_3.jpg", alt: "Coxs_Beach", 
        :size => "2000x400")   %>
        
        </li>
    </ul>
</div>
