<h1>Listing star_ratings</h1>

<table class="table">  <thead>
    <tr>
      <th>Rating</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @star_ratings.each do |star_rating| %>
      <tr>
        <td><%= star_rating.rating %></td>
        <td><%= link_to 'Delete', star_rating, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Creat New', new_star_rating_path %>
